@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #8ec5fc;
  background-image: linear-gradient(180deg, #8ec5fc 0%, #e0c3fc 100%);
  padding-bottom: 4em;
  gap: 3em;

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 5em;
      width: 10em;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-style: normal;
    }
    .description-message-cont {
      font-size: 1.2em;
      position: relative;
      top: -2em;
      color: #3b3b3b;

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;

        li {
          margin-left: -2.5em;
          list-style-type: none;
          margin-top: 1em;
          font-size: 0.9em;
        }
      }
    }
  }

  .form-container {
    display: flex;
    width: max-content;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 11px 28px 22px -4px #00000061;

    .sign-container {
      width: 25em;
      height: 25em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #47c1a0;
      transition: all 700ms;
      z-index: 20;

      .header-content {
        text-align: center;
        color: #f0f0f0;
        padding: 1em;
        opacity: 0;
        animation: disappearContent 700ms linear forwards;
        animation-delay: 300ms;
      }

      .sign-in-btn {
        width: 15em;
        padding: 1em 0em;
        border-radius: 25px;
        border: none;
        font-weight: 700;
        cursor: pointer;
        color: #3e3e3e;
      }
    }

    .toggle-view-form {
      transform: translate(-25em);
      animation-delay: 400ms;
    }

    .sign-up {
      transform: translateX(120%);
      transition: all 600ms;

      .header-content {
        opacity: 0;
        animation: appearContent 700ms linear forwards;
        animation-delay: 300ms;
      }

      .sign-in-btn {
        width: 15em;
        padding: 1em 0em;
        border-radius: 25px;
        border: none;
        font-weight: 700;
        cursor: pointer;
        color: #3e3e3e;
      }
    }

    .register-container,
    .loguin-container {
      background-color: #f3f3f3;
      width: 30em;
      height: 25em;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      z-index: 10;
      animation: appearContent 400ms linear forwards;

      .form {
        display: flex;
        flex-direction: column;
        width: 25em;
        height: 70%;
        justify-content: space-evenly;
        opacity: 0;
        animation: appearContent 700ms linear forwards;

        .label-item {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          opacity: 0;
          animation: appearContent 1s linear forwards;

          span {
            display: flex;
            align-items: center;
            gap: 0.2em;

            strong {
              color: #fb5959;
            }
          }

          .input-item {
            padding: 0.7em;
            border-radius: 5px;
            border: none;
            outline: none;
            animation: appearContent-inputs 400ms linear forwards;
          }
        }

        .submit-btn {
          margin: 0 auto;
          width: 15em;
          padding: 1em 0em;
          border-radius: 25px;
          background-color: #47c1a0;
          border: none;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
}

@keyframes disappearContent {
  to {
    opacity: 1;
  }
}

@keyframes appearContent {
  to {
    opacity: 1;
  }
}
@keyframes appearContent-inputs {
  from {
    transform: translateY(4em);
    width: 10em;
  }
  to {
    transform: translateY(0);
    width: 95%;
  }
}
